* {
    font-family: sans-serif;

}

.banner {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 1%;
    row-gap: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.btn {
    background-color: #0061FE;
    color: white;
    padding: 10px;
    max-width: fit-content;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(80, 185, 255);
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero {
    background-color: #B4D0E6;
}

.container65 {
    width: 65%;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    padding-block: 3rem;
}

.flex-container {
    display: flex;
    position: relative;
    bottom: -50px;
}

.flex-container .aside {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.flex-container figure {
    flex-basis: 70%;
    position: relative;
    right: -50px;
}

/* controlla se poterlo dare 
nel reset.css o meno poi */
img {
    width: 100%;
}

/* bonus */
#darrow {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 50px;
}

.container55 {
    width: 55%;
    margin: 0 auto;
}

main>hr {
    margin-top: 6rem;
    border: 1px solid #F5F5F5;
}

h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
}

.radiocontainer {
    padding-block: 3rem;
}



.tabcontainer {
    display: flex;
}

.tabrow hr {
    width: 30%;
}

.fa-check {
    color: #0061FE;
}